<h1>Burgers!</h1>

<h2>Ready to Eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers already devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="addBurger">Burger Name:</label>
    <input type="text" id="addBurger" name="burgerName">
  </div>

  <button type="submit">Add Burger</button>
</form>